// -------------------------
// - Custom imported fonts -
// -------------------------

// CUSTOM FONTS HERE

// -------------------------------------------
// - Google Fonts (https://fonts.google.com) -
// -------------------------------------------

// font-title: Jost
@import url("https://fonts.googleapis.com/css2?family=Jost:wght@300;400&display=swap");

// Roboto
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400&display=swap");

// Zilla Slab
// @import url("https://fonts.googleapis.com/css2?family=Zilla+Slab:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap");

// Open Sans Condensed
// @import url("https://fonts.googleapis.com/css2?family=Open+Sans+Condensed:ital,wght@0,300;0,700;1,300&display=swap");

// font-text: Amatic SC
// @import url("https://fonts.googleapis.com/css2?family=Amatic+SC:wght@400;700&display=swap");

// Lato
// @import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap");

// Manrope
// @import url("https://fonts.googleapis.com/css2?&family=Manrope:wght@300;400;600&display=swap");
