.sc-jSgupP.iPAejG {
  background-color: $dark;
  box-shadow: none;

  .wrapperResult {
    background-color: $black !important;
    border-bottom: 2px dashed $brand-1;

    &:hover,
    &:active {
      background-color: $brand-1 !important;
    }
  }

  .sc-eCssSg.dhyidT {
    display: none;
  }
}
