// Custom colors

$brand-1: #2ed98d;
$brand-2: #151515;
$dark: #212529;
$blue: #3792d3;
$orange: #ffa836;
$red: #f44200;

$grey: #545454;
$light-grey: #a6a6a6;

// Default Bootstrap colors

$primary: #0d6efd;
$secondary: #6c757d;
$info: #0dcaf0;
$warning: #ffc107;
$danger: #dc3545;
$light: #f8f9fa;
$black: #000;
$white: #fff;

// Name: Flat UI Palette v1
// Source: https://flatuicom/palette/defo

$turquoise: #1abc9c;
$green-sea: #16a085;
$sun-flower: #f1c40f;
$orange: #f39c12;
$emerald: #27ae60;
$carrot: #e67e22;
$pumkin: #d35400;
$peter-river: #3498db;
$belize-hole: #2980b9;
$alizarin: #e74c3c;
$pomegranate: #c0392b;
$nephritis: #000;
$amethyst: #9b59b6;
$wisteria: #8e44ad;
$clouds: #ecf0f1;
$silver: #bdc3c7;
$wet-asphalt: #34495e;
$midnight-blue: #2c3e50;
$concrete: #95a5a6;
$absestos: #7f8c8d;

// Name: German Palette
// Source: https://flatuicom/

$fusion-red: #fc5c65;
$orange-hibiscus: #fd9644;
$flirtatious: #fed330;
$reptile-green: #26de81;
$maximum-blue-green: #2bcbba;
$desire: #eb3b5a;
$beniukon-bronze: #fa8231;
$nyc-taxi: #f7b731;
$algal-fuel: #20bf6b;
$turquoise-topaz: #0fb9b1;
$high-blue: #45aaf2;
$c64-ntsc: #4b7bec;
$lighter-purple: #a55eea;
$twinkle-blue: #d1d8e0;
$blue-grey: #778ca3;
$boyzone: #2d98da;
$royal-blue: #3867d6;
$gloomy-purple: #8854d0;
$innuendo: #a5b1c2;
$blue-horizon: #4b6584;

// Other

$opacity-link: 0.75;
$opacity-bg: 0.6;

// Texts color

.text-brand-1 {
  color: $brand-1;
}

.text-brand-2 {
  color: $brand-2;
}

.text-light-grey {
  color: $light-grey;
}

.text-turquoise {
  color: $turquoise;
}

.text-green-sea {
  color: $green-sea;
}

.text-sun-flower {
  color: $sun-flower;
}

.text-orange {
  color: $orange;
}

.text-emerald {
  color: $emerald;
}

.text-nephritis {
  color: $nephritis;
}

.text-carrot {
  color: $carrot;
}

.text-pumkin {
  color: $pumkin;
}

.text-peter-river {
  color: $peter-river;
}

.text-belize-hole {
  color: $belize-hole;
}

.text-alizarin {
  color: $alizarin;
}

.text-pomegranate {
  color: $pomegranate;
}

.text-amethyst {
  color: $amethyst;
}

.text-wisteria {
  color: $wisteria;
}

.text-clouds {
  color: $clouds;
}

.text-silver {
  color: $silver;
}

.text-wet-asphalt {
  color: $wet-asphalt;
}

.text-midnight-blue {
  color: $midnight-blue;
}

.text-concrete {
  color: $concrete;
}

.text-absestos {
  color: $absestos;
}

// Links color

.link-brand-2 {
  color: $brand-2;

  &:hover {
    color: rgba($brand-2, $opacity-link);
  }
}

.link-brand {
  color: $brand-1;

  &:hover {
    color: rgba($brand-1, $opacity-link);
  }
}

.link-turquoise {
  color: $turquoise;

  &:hover {
    color: rgba($turquoise, $opacity-link);
  }
}

.link-green-sea {
  color: $green-sea;

  &:hover {
    color: rgba($green-sea, $opacity-link);
  }
}

.link-sun-flower {
  color: $sun-flower;

  &:hover {
    color: rgba($sun-flower, $opacity-link);
  }
}

.link-orange {
  color: $orange;

  &:hover {
    color: rgba($orange, $opacity-link);
  }
}

.link-emerald {
  color: $emerald;

  &:hover {
    color: rgba($emerald, $opacity-link);
  }
}

.link-nephritis {
  color: $nephritis;

  &:hover {
    color: rgba($nephritis, $opacity-link);
  }
}

.link-carrot {
  color: $carrot;

  &:hover {
    color: rgba($carrot, $opacity-link);
  }
}

.link-pumkin {
  color: $pumkin;

  &:hover {
    color: rgba($pumkin, $opacity-link);
  }
}

.link-peter-river {
  color: $peter-river;

  &:hover {
    color: rgba($peter-river, $opacity-link);
  }
}

.link-belize-hole {
  color: $belize-hole;

  &:hover {
    color: rgba($belize-hole, $opacity-link);
  }
}

.link-alizarin {
  color: $alizarin;

  &:hover {
    color: rgba($alizarin, $opacity-link);
  }
}

.link-pomegranate {
  color: $pomegranate;

  &:hover {
    color: rgba($pomegranate, $opacity-link);
  }
}

.link-amethyst {
  color: $amethyst;

  &:hover {
    color: rgba($amethyst, $opacity-link);
  }
}

.link-wisteria {
  color: $wisteria;

  &:hover {
    color: rgba($wisteria, $opacity-link);
  }
}

.link-clouds {
  color: $clouds;

  &:hover {
    color: rgba($clouds, $opacity-link);
  }
}

.link-silver {
  color: $silver;

  &:hover {
    color: rgba($silver, $opacity-link);
  }
}

.link-wet-asphalt {
  color: $wet-asphalt;

  &:hover {
    color: rgba($wet-asphalt, $opacity-link);
  }
}

.link-midnight-blue {
  color: $midnight-blue;

  &:hover {
    color: rgba($midnight-blue, $opacity-link);
  }
}

.link-concrete {
  color: $concrete;

  &:hover {
    color: rgba($concrete, $opacity-link);
  }
}

.link-absestos {
  color: $absestos;

  &:hover {
    color: rgba($absestos, $opacity-link);
  }
}

// Backgrounds color

.bg-grey {
  background-color: rgba($grey, 1);
}

.bg-light {
  background-color: rgba($light, 1);
}

.bg-dark {
  background-color: rgba($dark, 1);
}
