@use "./colors";

$navbarHeight: 72px;
$topBannerHeight: 27px;

// height: calc(100vh - #{$navbarHeight} - #{$topBannerHeight});

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Jost", sans-serif;
  font-size: large;
  padding-bottom: $navbarHeight;
  color: $dark;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.bg-cover,
.parralax {
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.font-small {
  font-size: 0.75rem;
}

.frame,
.frame-hover {
  padding: 1px;
  border: solid 3px #efefef;
}

.frame-hover {
  &:hover,
  frame {
    border: solid 3px #ccc;
    -moz-box-shadow: 1px 1px 5px #999;
    -webkit-box-shadow: 1px 1px 5px #999;
    box-shadow: 1px 1px 5px #999;
  }
}

.font-small {
  font-size: 0.9rem;
}

.font-smaller {
  font-size: 0.8rem;
}

.font-big {
  font-size: 1.25rem;
}

.font-bigger {
  font-size: 1.5rem;
}

.letter-spacing-big {
  letter-spacing: 2px;
}

.letter-spacing-bigger {
  letter-spacing: 3px;
}

.line-height-big {
  line-height: 2rem;
}

// Fonts

.font-title {
  font-family: "Jost" !important;
}

.font-subtitle {
  // font-family: "Amatic SC" !important;
}

.font-text {
  font-family: "Manrope", sans-serif !important;
}

// Display breakpoint
.d-xs-screen.d-md-screen,
.d-xs-screen.d-lg-screen {
  display: revert;
}

.d-md-screen {
  display: none;
}

.d-lg-screen {
  display: none;
}

.img-cover {
  object-fit: cover;
  height: 100%;
  width: 100%;
}

.cursor-pointer {
  cursor: pointer;
}

.tabRating {
  @extend .border-0;

  .nav-item {
    @extend .col;
    @extend .border-0;

    .nav-link {
      @extend .w-100;
      @extend .mx-auto;
      @extend .border-top-0;
      @extend .border-start-0;
      @extend .border-end-0;
    }

    .active {
      @extend .border-3;
      @extend .border-success;
    }
  }
}

.text-icon-nav-bar {
  font-size: 0.6em;
}

.hvr-highlight {
  &:hover {
    @extend .text-success;
  }
}

#container-find-ride {
  background-image: url("../assets/images/mountain-landscape.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: bottom;
  background-size: cover;
  max-width: none;
  @extend .min-vh-100;
}

.text-shadow {
  text-shadow: 2px 2px $black;
}

/* Extra small devices (portrait phones, less than 576px) */
/* @media (max-width: 575px) {
} */

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {
  .d-xs-screen {
    display: revert;
  }

  .d-md-screen {
    display: none;
  }

  .d-lg-screen {
    display: none;
  }

  .d-xs-screen.d-md-screen,
  .d-xs-screen.d-lg-screen {
    display: revert;
  }
}

/* Column management */
/* Small devices (landscape phones) */
@media (min-width: 576px) and (max-width: 767.98px) {
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
  .d-xs-screen {
    display: none;
  }

  .d-md-screen {
    display: revert;
  }

  .d-lg-screen {
    display: none;
  }

  .d-xs-screen.d-md-screen,
  .d-xs-screen.d-lg-screen {
    display: revert;
  }

  .parralax {
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
  }

  [class*="display-two-columns"] {
    height: 400px;
  }

  .icon-nav-bar {
    font-size: large;
  }

  .icon-brand-nav-bar {
    max-height: 20px;
  }
}

/* Column management */
/* Medium devices (tablets) */
@media (min-width: 768px) and (max-width: 991.98px) {
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
  .d-xs-screen.d-md-screen {
    display: none;
  }

  .d-lg-screen,
  .d-xs-screen.d-lg-screen {
    display: block;
  }

  [class*="display-two-columns"] {
    height: 500px;
  }

  .navbar {
    .navbar-logo {
      width: 200px;
    }

    font-size: 1.25rem;

    .dropdown-menu {
      text-align: left;
    }
  }
}

/* Column management */
/* Large devices (desktops) */
@media (min-width: 992px) and (max-width: 1199.98px) {
}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
}

/* Extra small devices (portrait phones, less than 576px) */
@media (max-width: 575px) {
}

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {
}

/* Column management */
/* Small devices (landscape phones) */
@media (min-width: 576px) and (max-width: 767.98px) {
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
}

/* Column management */
/* Medium devices (tablets) */
@media (min-width: 768px) and (max-width: 991.98px) {
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
}

/* Column management */
/* Large devices (desktops) */
@media (min-width: 992px) and (max-width: 1199.98px) {
}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
}
