@use "./colors";

html {
  scroll-behavior: smooth;
}

body {
  background-color: $light;
  font-family: "Jost", sans-serif;
  font-size: large;
  padding-bottom: $navbarHeight;
  color: $dark;
  font-kerning: none;
}

.navbar {
  border-top: 2px solid $brand-1;
}

.cursor-pointer {
  cursor: pointer;
}

.tab-rating {
  .nav-item {
    @extend .col;
    @extend .border-0;

    .nav-link {
      @extend .w-100;
      @extend .mx-auto;
      @extend .border-top-0;
      @extend .border-start-0;
      @extend .border-end-0;
      @extend .text-success;

      &.active {
        @extend .text-dark;
        @extend .border-3;
        @extend .border-success;
      }

      &:not(.active):hover {
        @extend .border-bottom-0;
      }
    }
  }
}

.text-icon-nav-bar {
  font-size: 0.6em;
}

.text-shadow {
  text-shadow: 2px 2px $brand-1;
}

.PhoneInputInput {
  @extend .rounded-pill;
  @extend .border;
  @extend .py-1;
  @extend .px-2;
}

.overlay {
  max-width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  @extend .min-vh-100;
}

.container-homepage {
  background-image: url("/assets/images/background-homepage.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.container-findpage {
  background-image: url("/assets/images/background-findpage.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.list-group-item {
  background-color: unset;
}

.no-caret,
.no-caret:focus {
  color: transparent;
  text-shadow: 0 0 0 $dark;
  background-color: $white !important;
}

.smaller {
  font-size: 0.7em;
}

.line-height-xs {
  line-height: 0.6;
}

.line-height-sm {
  line-height: 1;
}

.line-height-md {
  line-height: 1.4;
}

.rounded-5 {
  border-radius: 15px;
}

.hvr-grow-sm:hover,
.hvr-grow-sm:focus,
.hvr-grow-sm:active {
  transform: scale(1.02);
}

.rounded-round {
  border-radius: 250px 250px 250px 250px;
}

.book-button {
  position: fixed;
  bottom: 0;
  z-index: 9999;
  @extend .bg-white;
  @extend .py-3;
  @extend .text-center;
  @extend .w-100;
  @extend .border;
  @extend .border-bottom-0;
  @extend .border-start-0;
  @extend .border-end-0;
}

.avatar-img {
  width: 75px;
  @extend .rounded-round;
}

.avatar-img-sm {
  width: 50px;
  @extend .rounded-round;
}

.avatar-parent {
  position: relative;
}

.avatar-filter {
  position: absolute;
  top: 0;
  left: 0;
}

.container-box {
  @extend .border;
  @extend .border-2;
  @extend .shadow-sm;
  @extend .rounded-5;
  @extend .mx-auto;
  @extend .px-1;
  @extend .mb-2;
}

.progress {
  height: 0.5rem;
}

strong {
  @extend .fw-bold;
}

input[type="password"]:not(:placeholder-shown) {
  font-family: "pass", "Roboto", Helvetica, Arial, sans-serif;
}

.input-password {
  position: relative;
}

.input-password .eye {
  position: absolute;
  right: 20px;
  top: 4px;
  cursor: pointer;
}

// ####################################################################
// END CUSTOM CLASSES
// DO NOT TOUCH FROM HERE
// Display breakpoint
.d-xs-screen.d-md-screen,
.d-xs-screen.d-lg-screen {
  display: revert;
}

.d-md-screen {
  display: none;
}

.d-lg-screen {
  display: none;
}

/* Extra small devices (portrait phones, less than 576px) */
/* @media (max-width: 575px) {
} */

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {
  .d-xs-screen {
    display: revert;
  }

  .d-md-screen {
    display: none;
  }

  .d-lg-screen {
    display: none;
  }

  .d-xs-screen.d-md-screen,
  .d-xs-screen.d-lg-screen {
    display: revert;
  }
}

/* Column management */
/* Small devices (landscape phones) */
@media (min-width: 576px) and (max-width: 767.98px) {
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
  .d-xs-screen {
    display: none;
  }

  .d-md-screen {
    display: revert;
  }

  .d-lg-screen {
    display: none;
  }

  .d-xs-screen.d-md-screen,
  .d-xs-screen.d-lg-screen {
    display: revert;
  }

  .icon-nav-bar {
    font-size: large;
  }

  .icon-brand-nav-bar {
    max-height: 20px;
  }
}

/* Column management */
/* Medium devices (tablets) */
@media (min-width: 768px) and (max-width: 991.98px) {
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
  .d-xs-screen.d-md-screen {
    display: none;
  }

  .d-lg-screen,
  .d-xs-screen.d-lg-screen {
    display: block;
  }

  .navbar {
    .navbar-logo {
      width: 200px;
    }

    font-size: 1.25rem;
  }
}

/* Column management */
/* Large devices (desktops) */
@media (min-width: 992px) and (max-width: 1199.98px) {
}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
}

/* Extra small devices (portrait phones, less than 576px) */
@media (max-width: 575px) {
}

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {
}

/* Column management */
/* Small devices (landscape phones) */
@media (min-width: 576px) and (max-width: 767.98px) {
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
}

/* Column management */
/* Medium devices (tablets) */
@media (min-width: 768px) and (max-width: 991.98px) {
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
}

/* Column management */
/* Large devices (desktops) */
@media (min-width: 992px) and (max-width: 1199.98px) {
}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
}
